<div class="modalboxContent">

    Merci {{utilisateur.sexe}}. {{utilisateur.nom}}. {{utilisateur.prenom}} pour vos choix.
    <br>
    <input type="button" id="handlebars_submit" value="Retour">
</div>